/* 
    font-face는 폰트를 등록시켜주는 순수 CSS 기능임

    font-family : 폰트 이름
    src : 폰트를 가져올 경로. cdn 서버 경로를 쓸 수도, 실제 폰트가 저장된 위치를 적어도 된다.
    font-weight : 폰트의 무게를 표현한다.
    font-display : 폰트가 어떤식으로 보여질지를 선택한다.
        auto | block | swap | fallback | optional
        - swap : 폰트가 준비될 때 까지 fallback 폰트를 먼저 보여주는 방식이다.
*/


/*
    tailwind에서는 다음과 같이 weight 가 적용된다.

        | Tailwind | CSS | Pretendard | 
        | `font-thin` | 100 | Thin | 
        | `font-extralight` | 200 | ExtraLight | 
        | `font-light` | 300 | Light | 
        | `font-normal` | 400 | Regular | 
        | `font-medium` | 500 | Medium | 
        | `font-semibold` | 600 | SemiBold | 
        | `font-bold` | 700 | Bold | 
        | `font-extrabold` | 800 | ExtraBold | 
        | `font-black` | 900 | Black |


*/

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}